:root{
    --bitcoin-orange: #F7931a;
    --Soft-orage:  #FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --black:#282623;
    --grey:#BABABA;
    --oof-white:#FAF8F7;
    --just-white:#FFFFFF;
    --grey-text:#757575;
}   
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.div_header{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.div_header h1{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--just-white);
}
.div_header p{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.rem;
    color: var(--Soft-orage);
}
.header__a{
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 40px;
    padding: 8px;
    width: 229px;
    height: 70px;
    background-color: var(--oof-white);
    box-shadow: 0 4px 8px rgba(89,73, 30, 0.16);
    border-color: none;
    border-radius: 5px;
    font-size: 1.rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header__a span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}
/* segunda sección */
main{
    width: 100%;
    min-width:320px;
    height: auto;
    text-align: center;
}
.main-section-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-section-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px; 
    margin: 0 auto;

}
.main-section-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-section-container h2{
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--black);
}
.main-section-container p{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--grey-text);
}
/* sección tablas */
.main-div-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-div-table .table--title{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20.44px;
    color: var(--bitcoin-orange);
}
.divisa-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: auto;

}
.divisa-table-container table{
    width: 100%;
    height: 100%;
}
.divisa-table-container td{
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: var(--grey-text);
    background-color: #FBF5EF;
}
.divisa-table-container .table__top-left{
    border-radius: 15px 0 0 0;
}
.divisa-table-container .table__top-right{
    border-radius: 0 15px 0 0;
}
.divisa-table-container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.divisa-table-container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
/* .divisa-table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
} */
/* Estilos de la flecha */
.divisa-table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.divisa-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.table--date{
    width: 190px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    background-color: var(--Soft-orage);
    border-radius: 8px;
}
.table--date p{
    font-size: 15px;
    line-height: 1.1rem;
    color: #282623;
}
/* Segunda tabla */
.main-div-table2{
    width: 70%;
    min-width: 325px;
    max-width: 500px;
    margin: auto;
    font-family: "inter", sans-serif;
}
.main-div-table2{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: "inter", sans-serif;
}
.main-div-table2 .divisa-table--title2{
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20.44px;
    color: #1A9AF7;
}
.divisas-table--container2{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: auto;
}
.divisas-table--container2 table{
    width: 100%;
    height: 100%;
}
.divisas-table--container2 td{
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: var(--grey-text);
    background-color: #FBF5EF;
}
.divisas-table--container2 .table__top-left{
    border-radius: 15px 0 0 0;
}
.divisas-table--container2 .table__top-right{
    border-radius: 0 15px 0 0;
}
.divisas-table--container2 .table2__bootom-left{
    border-radius: 0 0 0 15px;
}
.divisas-table--container2 .table2__bottom-right{
    border-radius: 0 0 15px 0;
}
.divisa__table--date{
    width: 190px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    background-color: #E7F5FF;
    border-radius: 8px;
}
.divisa__table--date p{
    font-size: 15px;
    line-height: 1.1rem;
    color: #282623;
}
/* Tercera Sección */
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("../assets/icons/batata.svg");
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 184px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("../assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}








